<section class="flex-row main-center">
  <img class="img1" src="../../assets/01.png" />
  <div class="download">
    <h1>Download Our App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum optio sint, perferendis vero deserunt
      mollitia quos nostrum eveniet nisi est saepe excepturi distinctio ipsam, tempora voluptas perspiciatis, repellat
      ad?</p>
    <img src="../../assets/google-play-badge-en.png" />
  </div>
  <img class="img2" src="../../assets/580b57fcd9996e24bc43c1a8.png" />
</section>
