<section>
  <div class="flex-row cross-center main-center">
    <img src="../../assets/food-van.png" class="van" />
    <nav class="links">
      <ul>
        <li class="first">About Box-It</li>
        <li>How Box-It Works</li>
        <li>Safety</li>
        <li>Careers</li>
        <li>Countries</li>
        <li>FAQs</li>
      </ul>
    </nav>
    <nav class="links">
      <ul>
        <li class="first">Be A Dispatcher</li>
        <li>Sign Up to Be A Dispatcher</li>
        <li>Requirements</li>
        <li>Driver App</li>
      </ul>
    </nav>
    <img class="google" src="../../assets/google-play-badge-en.png" />
  </div>
  <div class="below-footer ">
    <nav>
      <ul class="flex-row main-end">
        <li>Accessibility</li>
        <li>Terms</li>
        <li>2018 Boxit</li>
      </ul>
    </nav>
  </div>
</section>
