section h1 {
  margin-top: 1em;
  color: #630f24;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .testimonies {
    flex-direction: column;
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  section {
    margin-top: 3em;
  }
  .testimonies {
    width: 70%;
    margin: 3em auto;
  }
}
