.container {
  flex-basis: 33%;
  color: #fff;
  margin: 1em auto;
}
.rounded-circle {
  height: 7em;
  width: 7em;
  background: #fff;
  border-radius: 100%;
}
p {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  p {
    width: 100%;
  }
}
