

<!-- Header -->

<app-header></app-header>

<div class="content" role="main">
  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection />

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>New Component</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Angular Material</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
      <span>Add Dependency</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
      <span>Run and Watch Tests</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <span>Build for Production</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
