<header role="banner">
  <!--First Header with wine background-->
  <div class="toolbar">
    <img  alt="Delivery Van Logo" src="../../assets/food-van.png" />
    <h1>Deliver</h1>
    <nav>
      <ul class="flex-row">
        <li>Courier Services</li>
        <li>Food Delivery</li>
        <li>How it Works</li>
        <li>FAQs</li>
        <li>Sign In</li>
        <li class="last">Become a Dispatcher</li>
      </ul>
    </nav>
  </div>
  <!--Second Header with white background-->
  <div class="flex-row" style="justify-content: space-between; width: 70%; margin: 0 auto">
    <ul class="flex-row second-header">
      <li>Home</li>
      <li>Payment Methods</li>
      <li>My Orders</li>
    </ul>
    <ul>
      <li>
        Cart
      </li>
    </ul>
  </div>
</header>
