header {
  font-size: 0.7em;
}
.toolbar {
  display: flex;
  background-color: #630f24;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #630f24;
}
img {
  width: 20px;
  height: 20px;
}

li {
  list-style-type: none;
  padding: 0.5em 0.3em;
}

/* For Screens Bigger than 700 pixels */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    font-size: 0.7em;
  }
  li {
    padding: 1em 1em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    font-size: 1em;
  }
  .toolbar {
    height: 60px;
    margin: -8px;
    font-weight: 600;
  }
  img {
    width: 40px;
    height:40px
  }
  .toolbar img {
    margin: 0 16px;
  }
  li {
    padding: 1em 2em;
  }
}
