<section>
  <div class="flex-row main-center minor">
    <div class="flex-row">
      <img src="../../assets/store.png" />
      <p>
        Over 500
        <br />
        Resturants
      </p>
    </div>
    <div class="flex-row">
      <img src="../../assets/take-away.png" />
      <p>
        Over 2000
        <br />
        Deliveries Made
      </p>
    </div>
    <div class="flex-row">
      <img src="../../assets/group.png" />
      <p>
        Over 500
        <br />
        Registered Customers
      </p>
    </div>
  </div>
</section>
